Django==1.4.2
South==0.7.6
psycopg2==2.4.5
PIL==1.1.7
flickrapi==1.4.2
gunicorn==0.15.0
Markdown==2.2.0
typogrify==2.0.0
django-tagging==0.3.1
-e git+git://github.com/django-extensions/django-extensions.git#egg=django-extensions
-e git+git://github.com/dcramer/django-devserver#egg=django-devserver
sqlparse
werkzeug
guppy
line_profiler
