{% extends 'base.html' %}
{% load humanize base_indent %}

{% block title %}{{ article.title }}{% endblock %}
{% block extra-head %}
    {% if article.keywords %}
    <meta name="keywords" content="{{ article.keywords|escape }}" />
    {% endif %}
    <meta name="description" content="{% spaceless %}{{ article.description|striptags|escape }}{% endspaceless %}" />
    {% for tag in article.tags.all %}
    <link rel="alternate" type="application/rss+xml" title="Blog Articles Tagged '{{ tag.name }}' RSS Feed" href="{% url articles_rss_feed_tag tag.rss_name %}" />
    <link rel="alternate" type="application/atom+xml" title="Blog Articles Tagged '{{ tag.name }}' Atom Feed" href="{% url articles_atom_feed_tag tag.rss_name %}" />
    {% endfor %}
{% endblock %}

{% block content %}
        <div id="content">
            <div class="post clear single">
                {% if article.image %}
                <img width="628" height="250" src="{{ MEDIA_URL }}{{ article.image }}" class="index-feature wp-post-image" />
                {% endif %}

                <div class="entry single clear">
                    <div class="post-header clear">
                        <h1 class="title">{{ article.title }}</h1>
                        <div class="comments"><a href="{{ article.get_absolute_url }}#disqus_thread" data-disqus-identifier="blog/article/{{ article.id }}">Leave a comment</a></div>
                    </div>

                    <div class="article article-content">
                        {{ article.rendered_content|indent:24|safe }}
                    </div>

                    {% for att in article.attachments.all %}
                    {% if forloop.first %}<div id="article-attachments">
                        <h3>Attachments</h3>
                        <ul>{% endif %}
                            <li id="attachment-{{ forloop.counter }}" class="attachment ct_{{ att.content_type_class }}">
                                <a href="{{ att.attachment.url }}" class="attachment-link">{{ att.filename }}</a>
                                <span class="attachment-size">Size: {{ att.attachment.size|filesizeformat }}</span>
                            </li>
                        {% if forloop.last %}</ul>
                    </div>{% endif %}
                    {% endfor %}
                </div>

                <div class="meta clear">
                    <div class="cats">Tags: {% if article.tags.count %}{% for tag in article.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}{% else %}None{% endif %}</div>
                </div>

                <div class="author">Published {{ article.publish_date|naturalday }} by {{ article.author.username }}</div>
            </div>

            <div id="disqus_thread"></div>
            <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
{% endblock %}

{% block extra-script %}
{{ block.super }}
    <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_FORUM_SHORTNAME }}';
        var disqus_identifier = 'blog/article/{{ article.id }}';
        var disqus_url = 'http://{{ current_site.domain }}{{ article.get_absolute_url }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
{% endblock extra-script %}
