{% extends "base.html" %}

{% block title %}HTTP Error 404: Page or Object not found{% endblock %}

{% block content %}
        <div id="content">
            <div class="post clear">
                <div class="entry index clear">
                    <div class="post-header clear">
                        <h1 class="title">404: Page Not Found</h1>
                    </div>
                    <div class="article article-content">
                        <p>The URL you typed no longer exists. It might have been moved or deleted, or perhaps you mistyped it.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
