{% extends "base.html" %}

{% block title %}HTTP Error 500: Internal Server Error{% endblock %}

{% block content %}
        <div id="content">
            <div class="post clear">
                <div class="entry index clear">
                    <div class="post-header clear">
                        <h1 class="title">500: Internal Server Error</h1>
                    </div>
                    <div class="article article-content">
                        <p>Sorry, something went wrong. Don't worry though - I probably already got an automatic error report and will look into this problem.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
